@import url(./index.css);



header {
    position: fixed;
    width: 100%;
    padding-top: 43px;
    padding-bottom: 43px;
    padding-left: 183px;
    background-color: #222222;
    z-index: 50;
}
.headerContainer {
    display: flex;
    gap: 50px;
    width: 40%;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.headerContainer__logo,
.footerUp__logo {
    font-family: "Prata";
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    white-space: nowrap;
}

.mainContainer {
    background-color: #222222;
    width: 100%;
    height: 1009px;

    display: flex;
    justify-content: space-between;
}

.mainContainer__info {
    padding-top: 311px;
    padding-left: 183px;
    padding-right: 20px;
}

.mainContainerInfo__title {
    font-family: "Prata";
    font-size: 80px;
    font-weight: 400;
    line-height: 96px;
}
.mainContainerInfo__text {
    font-family: "Arial";
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;

    margin-top: 40px;
    margin-bottom: 54px;
}

.headerContainer__info ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 29px;

    font-family: "Arial";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.headerContainer__info ul li {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1025px) {
    .headerContainer__info ul li a:hover {
        color: rgb(99, 99, 99);
    }
}

.mainContainerInfo__rates ul {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.mainContainerInfo__rates ul li {
    height: 37px;

    display: flex;
    align-items: center;
    gap: 17px;

    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    line-height: 26.4px;
}

.mainContainerInfo__rates ul li span {
    font-family: "Prata";
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    white-space: nowrap;
}

.mainContainer__image {
    width: 763px;
    z-index: 100;
}
.mainContainer__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainContainerInfo__btn button {
    width: 191px;
    height: 96px;
    margin-top: 40px;
    background-color: white;
    border-radius: 4px;

    font-family: "Arial";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

@media (min-width: 1025px) {
    .mainContainerInfo__btn button:hover {
        background-color: rgb(99, 99, 99);
        transform: scale(1.03);
    }
}

.activeContainer {
    width: 100%;
    height: 732px;
    display: flex;
    justify-content: space-between;
    background-color: #282829;
    margin-top: 100px;
}
.activeContainer > img {
    object-fit: cover;
    width: 100%;
    height: auto;
    flex: 1;
}
.activeContainer__block {
    flex: 1;
    padding: 0 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.activeContainer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.activeContainer ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #55565a;
    padding: 40px 0;

    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
}
.activeContainer ul li:last-child {
    border-bottom: none;
}
.activeContainer ul li img {
    height: 47px;
    width: auto;
}

.activeContainerBlock__btn button {
    width: 100%;
    height: 78px;

    font-family: "Arial";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

@media (min-width: 1025px) {
    .activeContainerBlock__btn button:hover {
        background-color: rgb(99, 99, 99);
        transform: scale(1.03);
    }
}

.formContainer {
    margin: 100px 161px;
    background-color: white;
    height: 621px;

    /* border: 2px solid #d5c9be; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 134px;

    position: relative;
}
.formContainerBlock__text {
    width: 781px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
}

.formBlock__title {
    color: #38535d;
    font-family: "Prata";
    font-size: 54px;
    font-weight: 400;
    line-height: 59.4px;

    margin-bottom: 45px;
}
.input-group {
    width: 100%;
}

.formBlock__input {
    display: flex;
    flex-direction: column;
}
.formBlock__input input {
    height: 65px;
    border: 2px solid #d6d6d6;
    padding-left: 38px;

    color: #55565a;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    width: 100%;
}
.name-input {
    margin-bottom: 13px;
}
.checkbox {
    color: #55565a;

    font-family: "Arial";
    font-size: 19px;
    font-weight: 400;
    line-height: 24.7px;

    display: flex;
    align-items: center;
    height: 26px;
    margin: 26px 0;

    position: relative;
}
.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #405d65;
    border-radius: 4px;
    margin-right: 16px;
    transition: background 0.3s;
}

.checkbox input[type="checkbox"]:checked + label::before {
    background: #405d65;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "✔";
    position: absolute;
    left: 6px;
    top: 2px;
    color: white;
    font-size: 20px;
}

.error-message {
    position: absolute;
    display: none;
    bottom: 30px;
    color: red;
    border: 1px solid rgba(0, 0, 0, 0.664);
    padding-left: 5px;
    background-color: rgba(99, 99, 99, 0.449);
    font-size: 14px;
    z-index: 100;
    height: 100%;
    width: 100%;
}

.formBlock__input button {
    height: 100px;
    background-color: #282829;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    border: none;

    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


@media (min-width: 1025px) {
    .formBlock__input button:hover {
        background-color: rgb(99, 99, 99);
    }
}



.formImg__background {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.formImg__women {
    height: 115%;
    position: absolute;
    bottom: 0;
    right: 100px;
    z-index: 13;
}

.NavContainer {
    padding: 40px 0;
    display: flex;
    width: 100%;
    border-top: 2px solid #d5c9be;
    border-bottom: 2px solid #d5c9be;
}

.NavContainer ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 60px;

    font-family: "Arial";
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
}


.NavContainer ul li a{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

@media (min-width: 1025px) {
    .NavContainer ul li a:hover {
        color: rgb(99, 99, 99);
    }
}

footer {
    background-color: #222222;
}

.footerContainer {
    padding: 52px 160px;
}
.footerContainerUp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.footerUp__socials {
    display: flex;
    gap: 32px;
    height: 32px;
    justify-self: center;
    margin: 0 25px;
}
.footerUp__socials img {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

@media (min-width: 1025px) {
    .footerUp__socials img:hover {
        transform: scale(1.2);
    }
}

.footerUp__order {
    justify-self: end;
}

.footerUp__order button {
    height: 72px;
    width: 180px;
    background-color: #ffffff;

    font-family: "Arial";
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    color: #222222;
    border: none;
    cursor: pointer;
}

@media (min-width: 1025px) {
    .footerUp__order button:hover {
        background-color: rgb(99, 99, 99);
        transform: scale(1.03);
    }
}

.footerContainerDown {
    margin-top: 54px;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
}

.footerDown__age {
    text-align: left;
    width: 35%;
}

.footerPoliceAndTerms {
    display: flex;
    width: 70%;
}

.footerDown__police {
    color: #d5c9be;
    flex: 1;
    text-align: center;
}
.footerDown__police p {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

.footerDown__terms {
    color: #d5c9be;
    flex: 1;

    text-align: right;
    
}
.footerDown__terms p {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;

}

@media (min-width: 1025px) {
    .footerDown__terms p :hover, .footerDown__police p :hover {
        color: rgb(157, 157, 157);
        
    }
}

@media (max-width: 1700px) {
    header {
        padding-left: 60px;
    }

    .mainContainer__info {
        padding-left: 60px;
        padding-top: 160px;
    }
    .mainContainer {
        height: 900px;
    }

    .formContainer {
        margin: 100px 60px;
        padding-left: 70px;
    }

    .formImg__background {
        width: 60%;
        object-fit: cover;
        border-radius: 30px;
    }
    .formImg__women {
        right: 0;
    }
    .footerContainer {
        padding: 52px 60px;
    }
}

@media (max-width: 1440px) {
    .mainContainerInfo__title {
        font-size: 50px;
        line-height: 50px;
    }
    .mainContainerInfo__text {
        font-size: 30px;
        line-height: 30px;
    }

    .mainContainerInfo__rates ul li {
        font-size: 18px;
        line-height: 18px;
    }
    .mainContainer__image {
        width: 40%;
    }

    .activeContainer ul li {
        font-size: 18px;
        line-height: 18px;
    }
    .activeContainer > img {
        width: 25%;
        flex: none;
    }

    .formBlock__title {
        background-color: white;
        border-radius: 30px;
    }

    .footerContainerUp {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width: 1100px) {
    .headerContainer {
        flex-direction: column;
        gap: 5px;
    }
    .headerContainer__info ul {
        margin-left: 350px;
    }

    header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 1024px) {
    .mainContainer__image {
        width: 50%;
    }

    .mainContainerInfo__rates ul li span {
        font-size: 24px;
    }

    .mainContainer {
        height: 800px;
    }
    .activeContainer__block {
        padding: 0 25px;
    }
    .activeContainer > img {
        width: 20%;
    }

    .formContainer {
        padding: 20px;
    }

    .formBlock__title {
        font-size: 48px;
        line-height: 48px;
    }
}

@media (max-width: 769px) {
    .mainContainer__info {
        padding-top: 130px;
        padding-left: 30px;
    }
    .mainContainer__info {
        z-index: 10;
    }

    .mainContainer__image {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        min-height: 730px;
        height: 730px;
    }
    .mainContainer {
        height: 730px;
    }

    header {
        padding: 15px 0;
    }
    .headerContainer {
        width: 100%;
    }
    .headerContainer__info ul {
        margin-left: 0;
    }

    .activeContainer ul li {
        padding: 20px 0;
    }

    .activeContainer ul li img {
        height: 25px;
    }

    .activeContainer {
        margin-top: 50px;
    }

    .formContainer {
        margin: 50px 30px;
        height: 100%;
    }
    .formImg__women {
        display: none;
    }

    .formImg__background {
        width: 100%;
        opacity: 0.5;
    }
    .formBlock__title {
        background-color: transparent;
    }

    .formBlock__title {
        font-size: 38px;
        line-height: 38px;
    }

    .formBlock__input input {
        height: 50px;
    }

    .formBlock__input button {
        height: 70px;
    }

    .footerUp__socials {
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }

    .footerUp__order {
        display: none;
    }

    .footerContainer {
        padding: 25px 20px;
    }

    .footerContainerDown {
        flex-direction: column-reverse;
        gap: 10px;
        margin-top: 25px;
    }

    .footerDown__police {
        text-align: left;
    }
    .footerDown__age {
        width: 100%;
        text-align: center;
    }

    .footerPoliceAndTerms {
        width: 100%;
    }
}
@media (max-width: 436px) {
    .mainContainer__info {
        padding-left: 15px;
    }

    .mainContainerInfo__title {
        font-size: 40px;
        line-height: 40px;
    }
    .mainContainerInfo__text {
        font-size: 25px;
        line-height: 25px;
    }

    .headerContainer__logo,
    .footerUp__logo {
        font-size: 28px;
    }

    .activeContainer__block {
        padding: 0 5px;
    }

    .formBlock__title {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .formBlock__input input {
        height: 40px;
        font-size: 18px;
        line-height: 18px;
        padding-left: 15px;
    }
    .checkbox {
        font-size: 16px;
        line-height: 16px;
    }
    .formBlock__input button {
        font-size: 20px;
    }

    .footerContainerDown {
        font-size: 16px;
    }

    .NavContainer ul {
        font-size: 18px;
        gap: 30px;
    }
    .footerUp__logo {
        text-align: center;
    }
}
